h1{
    color: #ff4655;
}

h2{
    color: #ff4655;
}

body{
    background-color: #0f1923;
    color: white;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    border: 3px solid #ff4655;
}